/* Colors */
/* upgrade color : #080B12
main color : #141922
footer color : #282828
sidebar color : #000000 */
:root {
    scroll-behavior: smooth;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 80px);
}

.flex {
    display: flex;
}
.top {
    height: 100vh;
}

/* Utilities */
.h-90 {
    height: 90px;
}

.margin-left {
    margin-left: 20px;
}

.margin-y {
    margin-top: 15px;
    margin-bottom: 15px;
}

.line-height {
    line-height: 40px;
}

.playlist-title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.round-image {
    border-radius: 50%;
}

.margin-10 {
    margin: 7px;
}
/* Upgrade */
.upgrade {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1;
    padding-right: 20px;
    font-size: 0.9rem;
}

.upgrade a {
    text-decoration: none;
    color: #dcd4d4;
}

.upgrade-btn {
    border: 1px solid #dcd4d4;
    border-radius: 50px;
    padding: 10px 30px;
    margin-right: 20px;
    font-weight: bold;
    cursor: default;
}

.upgrade-btn:hover {
    transition: width 0.3s ease, height 0.3s ease;
    transform: scale(1.1);
}

.light:hover {
    color: #fff;
    opacity: 0.5;
}

.border-bottom {
    border-bottom: 1px solid #f0f014;
}

/* Side bar */
.side-bar nav {
    background-color: #000;
    height: calc(100vh - 80px);
    width: 220px;
    padding: 10px;
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 10px;
}

.side-bar a {
    text-decoration: none;
    color: #f6ededc5;
}

.logo-spotify {
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    line-height: 40px;
    color: #f6ededc5;
}

.menu {
    font-size: 0.9rem;
}
.menu li i {
    margin-right: 5px;
}

.create-playlist {
    color: #fff;
    font-size: 0.9rem;
}

.create-playlist h3 {
    padding-left: 5px;
    font-size: 0.9rem;
}

.create-playlist ul li {
    list-style: none;
    color: #f6ededc5;
}

.create-playlist-title {
    display: inline-block;
    font-weight: 200;
    font-size: 0.9rem;
    margin-left: 5px;
}

.square {
    display: inline-block;
    background-color: #928c8c;
    height: 35px;
    width: 35px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-left: 5px;
    margin-bottom: 15px;
}

.install {
    display: flex;
    margin-top: 30px;
}

.downarrow {
    display: inline-block;
    color: #dcd4d4;
    border: 1px solid #dcd4d4;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

.nav-footer {
    color: #dcd4d4;
    padding-left: 10px;
    font-size: 0.9rem;
}

.admin {
    border: 2px solid #928c8c;
    padding: 7px;
    border-radius: 50%;
}

.fa-user {
    background-color: #928c8c;
    margin-top: 5px;
    margin-top: 10px;
}

.admin-name {
    font-weight: bold;
}

.separator {
    width: 85%;
    color: blue;
}
.nav-footer {
    
}
/* Main content */
.main {
    overflow-y: auto;
    background-color: #141922;
    height: calc(100vh - 90px - 80px);
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    padding-left: 250px;
    padding-right: 20px;
}

.main-content {
    position: relative;
    top: 100px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: #928c8c;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
    font-size: 0.8rem;
}

.main-menu ul li a {
    text-decoration: none;
    color: #928c8c;
}

.recently-played {
    display: flex;
   flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: calc((100% - 50px) / 6);
}


.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    position: relative;
}
.card-image {
    position: relative;
}
.play-hover {
    position: absolute;
    top:25% ; 
    left: 40%;  
    font-size: 2rem;
    display: none;
}
.card:hover .play-hover {
    display: block;
}

.card-title {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 0.9rem;
}
.playlist-title {
    font-size: 1.5rem;
}
.for-you-title {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 40px;
}

.card-subtitle {
    color: #928c8c;
    font-size: 0.9rem;
    padding: 5px;
}

.subtitle {
    color: #928c8c;
    font-size: 0.9rem;
    margin-bottom: 30px;
    margin-top: 5px;
}

.created-for-you {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.col-2 {
    width: 20%;
}

/* Song info */
.song-info {
    background-color: #282828;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    padding-left: 15px;
    align-items: center;
    width: 150px;
}

.small-sinister {
    width: 40px;
}

.song-name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.song-name h4 {
    color: #fff;
    font-size: 0.9rem;
}

.song-name span {
    color: #928c8c;
    font-size: 0.6rem;
}

.icones-left {
    display: flex;
    gap: 5px;
    color: #928c8c;
    padding-left: 10px;
}

.center {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
   width: 40%;
}

.icones-center {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.line-section {
    display: flex;
    align-items: flex-end;
}

.time-line {
    font-size: 0.6rem;
}

.line {
    border-bottom: 4px solid #928c8c;
    border-radius: 30px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
}

.line-inside {
    position: absolute;
    bottom: 1;
    left: 0;
    border-bottom: 4px solid #fff;
    border-radius: 30px;
    width: 50px;
}

.start-song {
    margin-right: 5px;
}

.end-song {
    margin-left: 5px;
}

.hover-bigger:hover {
    transition: width 0.3s ease, height 0.3s ease;
    transform: scale(1.1);
}

.right {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 150px;
}

.icons-right {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.line-right {
    border-bottom: 4px solid #928c8c;
    border-radius: 30px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
    margin-bottom: 23px;
    margin-left: 5px;
}

.line-inside-right {
    position: absolute;
    bottom: 1;
    left: 0;
    border-bottom: 4px solid #fff;
    border-radius: 30px;
    width: 20px;
}